*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**boot**/
a{
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



.texto-topo h1{
	text-align: center;
	font-size: 50px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px; 
	font-family: Georgia, serif;
	text-shadow: 2px 2px #14191e;
	background-image: url("../imagens/alimentacao.png");
	background-size: 100%;
	color: #fff;
	border-color: #fff; 
	border-top-style: solid;
}

.topo input[type="submit"]{
	width: 90px;
	height: 30px;
	cursor: pointer;
	margin-bottom: 0px;
	margin-left: 10px;
	border: 0;
	background-color: #748192;
	color: #fff;
	font-family: Monaco, monospace;
	font-weight: bold;
	font-size: 16px;
}

table {
  border-collapse: separate;
  border-spacing: 10px 5px;
  margin-left: auto;
  margin-right: auto;
}

td{
	width: 200px;
	height: 100px;
	padding: 25px;
	text-align: center;
	box-shadow: 2px 2px 2px 2px #b1b3b4;
}

.btn_rcp{
	width: 100%;
	
	cursor: pointer;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 0;
	background-color: #1fdf10;
	color: #fff;
	font-family: Monaco, monospace;
	font-weight: bold;
	font-size: 16px;
}

.btn-home{
	width: 90px;
	height: 30px;
	cursor: pointer;
	margin-bottom: 0px;
	margin-left: 10px;
	border: 0;
	background-color: #748192;
	color: #fff;
	font-family: Monaco, monospace;
	font-weight: bold;
	font-size: 16px;
}

.deletar-class{
	width: 100%;
    height: 30px;
    margin-top: 2px;
	cursor: pointer;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 0;
	background-color: #1fdf10;
	color: #fff;
	font-family: Monaco, monospace;
	font-weight: bold;
	font-size: 16px;
}

.gambiarra-guilherme{
	display: none; 
	width: 97%; 
	height: 95%; 
	background: white; 
	border-color: black; 
	z-index: 9999; 
	position: absolute; 
	right: 30px; 
	top: 30px;
}
.gambiarra-guilherme h1{
	text-align: center;
	width: 100%;
	height: 100%;
	max-height: 50px;
	background-color: chartreuse;
}
.gambiarra-guilherme h3{
	text-align: center;
	background-color: #0ce498;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.gambiarra-guilherme h5{
	text-align: center;
	background-color: #0ce498;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	
}
.gambiarra-guilherme p{
	height: 470px;
	width: 100%; 
	word-break: break-word;
	overflow-y: scroll;

}

.gambiarra-guilherme-btn{
	width: 100%;
	height: 30px;
	cursor: pointer;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 0;
	background-color: #1fdf10;
	color: #fff;
	font-family: Monaco, monospace;
	font-weight: bold;
	font-size: 16px;
}